node_modules/
**/node_modules/
.expo/
**/.expo/
.git/
android/
ios/
**/android/
**/ios/
dist/
web-build/

/admin
/web
/server

**/*.mp4
**/*.mov
**/*.zip
**/*.apk
**/*.aab

.DS_Store
coverage/
.vscode/